@import 'tailwindcss';

@font-face {
    font-family: 'nb';
    src: url('/nb.woff2') format('woff2');
}

@theme {
    --font-display: 'nb', sans-serif;
    --color-theme-primary: #000000;
    --color-theme-secondary: #ffffff;
    --color-theme-accent: #fb3f02;
    --animate-flicker: flicker 1s linear infinite alternate;
}

canvas {
    @apply mix-blend-screen;
}

@keyframes flicker {
    0% {
        fill: #ffffff;
    }
    100% {
        fill: #000000;
    }
}
